.map {
   position: absolute;
   top: 1%;
   left: 1%;
   width: 48.5%;
   height: 96%;
   border: 1px solid black;
   font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#map2 {
   left: 50.5%;
   height: 47%;
}
    
#map3 {
   left: 50.5%;
   top: 50%;
   height: 47%;
}
